#root {
    background-color: black;
    color: white;
}

:root {

    --mainColor: rgb(255, 204, 0);

}


.flex-box {
    display: flex;
}

button:hover {
    background-color: black !important;
    color: white;
}



img {
    width: 100%;
}

button {
    text-transform: uppercase;
    background-color: transparent !important;
    border: 1px solid black !important;
}




.banner-area {
    background-image: url('../images/5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    height:680px;
    overflow: hidden;
}

.banner-area .left-site {
    width: 55%;
    height: 100%;
    margin-bottom: -7px;
}

.banner-area .left-site img {}


.banner-area .right-site {
    width: 50%;
}

.banner-area .right-site .content {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-area .content h1 {
    font-size: 3.75rem;
    letter-spacing: 2px;
}

.banner-area .content p {
    font-size: 22px;
    margin: 25px 0;
}

.banner-area button {
    width: 30%;
    padding: 15px 25px;
    justify-content: start !important;
}




.trust-and-professional-services {
    background-color: var(--mainColor);
}

.correct-img img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.home-repair-service button {
    display: flex;
    align-items: center;
    justify-content: center;
}





.our-services {
    background-image: url('../../assets/images/t4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 10px;
}

.our-services h2 {
    margin: 50px 0;
    text-align: center;
    font-size: 45px;
}

.our-services .flex-box {
    margin: 30px 0;
    justify-content: space-between;
}

.our-services .service-card {
    width: 23.5%;
    background-color: whitesmoke;
    padding: 55px 15px;
    color: black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.our-services .flex-box p {
    margin: 25px 0;
}

.our-services img {
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 50%;
    color: white;
    background-color: var(--mainColor);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 15px;
}

.our-services a {
    border-bottom: 2px solid var(--mainColor);
}


.home-repair-service {
    background-color: var(--mainColor);
    padding: 40px 10px;
    overflow: hidden;
}

.home-repair-service h2 {
    font-size: 34px;
    font-weight: 600;
}

.home-repair-service .flex-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-repair-service .left {
    width: 45%;
    margin: 0 auto;
    justify-content: center;
    color: black;

}

.home-repair-service p {
    margin: 15px 0;
    font-size: 20px;
    letter-spacing: .5px;
    line-height: 35px;
}

.home-repair-service .rightimg {
    width: 45%;
    padding: 0 10px;
}

.home-repair-service .rightimg img {
    width: 100%;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.home-repair-service button {
    width: 40%;
    padding: 15px;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.home-repair-service button:hover {
    width: 40%;
    padding: 15px;
    background-color: black;
    color: white;
}



.professional-services {}

.professional-services img {
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: var(--mainColor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: right;
}


.meet-exparts {
    padding: 25px 0px;
}

.meet-exparts h3 {
    font-size: 32px;
}

.meet-exparts .flex-box {
    display: flex;
    justify-content: space-between;
}

.meet-exparts .left-site {
    width: 35%;
    background-color: aliceblue;
    padding: 15px 10px;
    color: black;
}

.meet-exparts ul img {
    width: 20px;
    height: 20px;
}

.meet-exparts span {
    display: flex;
    margin: 10px 0;
}

.meet-exparts span li {
    list-style: none;
    margin-left: 5px;
}

.meet-exparts .right-site {
    width: 65%;
}

.meet-exparts button {
    background-color: transparent;
    border: 1px solid black;
}




.contact {}

.contact .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact img {
    width: 50px;
    height: 50px;
}

.footer {
    color: rgb(228, 228, 228);
    padding: 25px 0;
    display: flex;
    justify-content: center;
}